.bg-dark {
    background-color: #7DD3D8 !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    position: fixed;
    color: #333;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

body {
    background-color: #747210;
}

.page {
    /* height: 100; */
    background-color: magenta;
    width: 90%;
}
.link {
    border: 2px solid yellow;
}
.footer {
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: #004aad;
    color: #ffde59;
    text-align: center;
  }